<#macro basetypes>
    <div class="list_condition">
        <ul class="list_condition_detail">
            <li><a class="list_active" href="javascript:;">全部</a></li>
            <li><a href="javascript:;">文化</a></li>
            <li><a href="javascript:;">教育</a></li>
            <li><a href="javascript:;">体育</a></li>
            <li><a href="javascript:;">卫生医疗</a></li>
            <li><a href="javascript:;">社区</a></li>
            <li><a href="javascript:;">社区服务</a></li>
        </ul>
    </div>
</#macro>
