<#include "_layout.html"/> <@layout>
<!--活动详情页  -->
<div class="dConBox">
	<div class="details">
		<div class="detailsBox">
			<h2>${content.title!}</h2>
		</div>
	</div>
	<div class="details-TBox">
		<div class="details-T">
			<ul>
				<li><span>分类：</span> <em class=""></em></li>
				<!-- <li>
					<span>组织：</span>
					<em class="">动物园北门志愿驿站活动组</em>
				</li> -->
			</ul>
		</div>
	</div>
	<div class='dConBox'>
		<div class="dConBox-In">
			<div class="ad_con_left">
				<p align="center" class="ad_leftImg">
					<img src="${(content.thumbnail)!}">
				</p>
				<div class="ad_conChange">
					<ul class="ad_conTag">
						<li class="ad_base ad_currentLi"><a href="javascript:;">基地简介</a></li>
						<li class="ad_project"><a href="javascript:;">发起的项目</a></li>
						<li class="ad_message ad_tagLast"><a href="javascript:;">留言咨询</a></li>
					</ul>
					
				</div>
			</div>
			<div class="dConBox-R">
				<div class="dConBoxr03 dConBoxr_9g dConBoxr_356g">
					<div class="title_aa">
						<h2>专家评语</h2>
						<a href="">详情</a>
					</div>
					<div class="neirong"></div>
				</div>
				<div class="dConBoxr03 dConBoxr_9g dConBoxr_356g ad_atten">
					<div class="title_aa">
						<h2>基地联系人</h2>
						<a href="">详情</a>
					</div>
					<div class="neirong">
						<div class="ad_rightCon">
							<ul>
								<li class="ad_rName">张三</li>
								<li class="ad_rMobile">手机：1396564546</li>
								<li class="ad_rPhone">电话：021-9867545</li>
								<li class="ad_rEmail">邮编：shanghaigongyi@163.com</li>
							</ul>
							<a class="ad_rMail" href="javascript:;">给他发站内信</a>
						</div>
					</div>
				</div>
				<div class="dConBoxr02 dConBoxr_9g dConBoxr_356g">
					<div class="title_aa">
						<h2>基地分享</h2>
						<a href="">详情</a>
					</div>
					<div class="neirong">
						<div class="gzz">
							<span id="guanzhu"> <em></em> 关注（0）
							</span> <span id="zan"> <em></em> 赞（0）
							</span>
						</div>
						<div class="share">
							<h2>分享</h2>
							<a class="sina" title="分享到微博"></a> <a class="qq" title="分享到腾讯微博"></a> <a class="weixin" title="分享到微信"></a>
						</div>
					</div>
				</div>
				<div class="dConBoxr02 dConBoxr_9g dConBoxr_356g ad_atten ad_position">
					<div class="title_aa">
						<h2>基地位置</h2>
					</div>
					<div class="neirong">
						<div class="ad_rightCon">
							<p>上海市静安区</p>
							<a href="javascript:;">查看地图</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--活动详情页结束-->
<!--底部-->
</@layout>
