<#include "_layout.html"/>
<@layout>
	<!-- <input type="hidden" id="basepath" value="${CPATH}"> -->
	<!--banner-->
	<div style="background: #ECF2F5;">
		<div class="banner">
			<ul class='swiper-wrapper'>
				<li class="b_img swiper-slide">
					<a href="javascript:;" style="background-image: url(${CTPATH}/images/shmz_banner.jpg);"></a>
				</li>
				<li class="b_img swiper-slide">
					<a href="javascript:;" style="background-image: url(${CTPATH}/images/banner_02.png);"></a>
				</li>
			</ul>
			<div class='banner_paginator_wrapper'>
				<div class='banner_icon'></div>
			</div>
		</div>
		<!--banner结束-->
		<!--活动列表-->
		<div class="class_img_bg">
			<div class="class_img">
				<div class="left_class">
					<a class="left_class_map" target="_blank" href="${SPATH}/page_map.html"> <img src="${CTPATH}/images/gongyi_map.png"> <span>公益地图</span>
					</a>
				</div>
				<div class="center_class">
					<div class='content'>
						<div class="center_class_01">
							<p>注册公益市民 (人)</p>
							<span id="center_num_01">167</span>
						</div>
						<div class="center_class_02">
							<p>公益服务时长 (万小时)</p>
							<span id="center_num_02">210267</span>
						</div>
						<div class="center_class_03">
							<p>注册公益组织(个)</p>
							<span id="center_num_03">3803</span>
						</div>
						<a class="jion_vol" href="javascript:;">申请公益护照</a>
					</div>
				</div>
				<div class="right_class">
					<ul>
						<li class="ci_list">
							<a class="ci_block" href=""> <img src="${CTPATH}/images/tree.png" /> <span>文化</span>
							</a>
						</li>
						<li class="ci_list">
							<a class="ci_block" href="list.html"> <img src="${CTPATH}/images/sport.png" /> <span>体育</span>
							</a>
						</li>
						<li class="ci_list">
							<a class="ci_block" href="list.html"> <img src="${CTPATH}/images/civilization.png" /> <span>教育</span>
							</a>
						</li>
						<li class="ci_list">
							<a class="ci_block" href="list.html"> <img src="${CTPATH}/images/safety.png" /> <span>卫生医疗</span>
							</a>
						</li>
						<li class="ci_list">
							<a class="ci_block" href="list.html"> <img src="${CTPATH}/images/oldman.png" /> <span>社区</span>
							</a>
						</li>
						<li class="ci_list">
							<a class="ci_block" href="list.html"> <img src="${CTPATH}/images/youngman.png" /> <span>社会组织</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!--活动列表结束-->
		<!--推荐活动和活动志愿者开始-->
		<div class="con_sec">
			<div class="con_sec_in">
				<ul>
					<li class="cur_li"><a href="javascript:;">全部</a></li>
					<li class=""><a href="javascript:;">文化</a></li>
					<li class=""><a href="javascript:;">体育</a></li>
					<li class=""><a href="javascript:;">教育</a></li>
					<li class=""><a href="javascript:;">卫生医疗</a></li>
					<li class=""><a href="javascript:;">社区</a></li>
					<li class=""><a href="javascript:;">社会服务</a></li>
				</ul>
				<@jp.taxonomy id="26">
					<a class='more' href="${taxonomy.url}">更多&gt;&gt;</a>
				</@jp.taxonomy>
			</div>
			<div class="acbox">
				<!-- 全部开始 -->
				<div class="acbox_jh" style="display: inline-block">
					<ul>
						<@jp.contents module="base" typeSlug="allbases" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>申报时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
					<ul>
						<@jp.contents module="activity" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>开始时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
				</div>
				<!-- 全部结束 -->
				<!-- 文化开始 -->
				<div class="acbox_jh" style="display: none">
					<ul>
						<@jp.contents module="base" typeSlug="culture" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a title="${content.title!}" href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>申报时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
					<ul>
						<@jp.contents module="activity" typeSlug="wenhua" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a title="${content.title!}" href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>开始时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
				</div>
				<!-- 文化结束 -->
				<!-- 体育开始 -->
				<div class="acbox_jh" style="display: none">
					<ul>
						<@jp.contents module="base" typeSlug="sport" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
										<a href="${content.url!}">${content.title!}</a>
									</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>申报时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
					<ul>
						<@jp.contents module="activity" typeSlug="tiyu" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>开始时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
				</div>
				<!-- 体育结束 -->
				<!-- 教育开始 -->
				<div class="acbox_jh" style="display: none">
					<ul>
						<@jp.contents module="base" typeSlug="education" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>申报时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
					<ul>
						<@jp.contents module="activity" typeSlug="jiaoyu" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>开始时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
				</div>
				<!-- 教育结束 -->
				<!-- 卫生医疗开始 -->
				<div class="acbox_jh" style="display: none">
					<ul>
						<@jp.contents module="base" typeSlug="medication" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>申报时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
					<ul>
						<@jp.contents module="activity" typeSlug="weishengyiliao" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>开始时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
				</div>
				<!-- 卫生医疗结束 -->
				<!-- 社区开始 -->
				<div class="acbox_jh" style="display: none">
					<ul>
						<@jp.contents module="base" typeSlug="social" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>申报时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
					<ul>
						<@jp.contents module="activity" typeSlug="shequ" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>开始时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
				</div>
				<!-- 社区结束 -->
				<!-- 社会服务开始 -->
				<div class="acbox_jh" style="display: none">
					<ul>
						<@jp.contents module="base" typeSlug="socialservice" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>申报时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
					<ul>
						<@jp.contents module="activity" typeSlug="shequfuwu" count="5">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
							<a href="${content.url!}">${content.title!}</a>
						</h3>
									<p>地点：${content.metadata('_meta1')}</p>
									<p>开始时间：${content.metadata('_meta2')}</p>
								</li>
							</#list>
						</@jp.contents>
					</ul>
				</div>
				<!-- 社会服务结束 -->
			</div>
		</div>
		<div class="acver">
			<div class="acverbb">
				<div class="acverL">
					<div class="acverBigBox">
						<h2>公益先锋</h2>
						<a class="">换一换</a>
					</div>
					<div class="acverBox">
						<ul>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/huoyzyz01.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>谭美娟</h3>
									<p>
										服务时长:<em>185</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/defaultPic_11.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>林琪</h3>
									<p>
										服务时长:<em>165</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/Interest.png" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>张静棉</h3>
									<p>
										服务时长:<em>103</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/tuijian05.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>李颖欢</h3>
									<p>
										服务时长:<em>155</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/tuijian04.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>罗友梅</h3>
									<p>
										服务时长:<em>191</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/huoyzyz01.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>吴松华</h3>
									<p>
										服务时长:<em>75</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/tuijian05.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>李金伦</h3>
									<p>
										服务时长:<em>98</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/tuijian04.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>黎慧慧</h3>
									<p>
										服务时长:<em>145</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/tuijian05.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>袁志彬</h3>
									<p>
										服务时长:<em>175</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/tuijian04.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>陈思旋</h3>
									<p>
										服务时长:<em>185</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/huoyzyz01.jpg" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>郭冬云</h3>
									<p>
										服务时长:<em>129</em>
									</p>
								</div>
							</li>
							<li>
								<div class="acverimg">
									<a href=""> <img src="${CTPATH}/images/Interest.png" width="50" height="50" />
									</a>
								</div>
								<div class="acverboxin">
									<h3>秦莹溪</h3>
									<p>
										服务时长:<em>175</em>
									</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="acverR">
					<div class="acverQuery">
						<h2>公益护照查询</h2>
					</div>
					<div class="acverQueryBox">
						<p>公益护照、公益时间查询</p>
						<div class="acverLabel">
							<a href="javascript:;" class="acverdd">公益护照查询</a> <a href="javascript:;" class="">公益时间查询</a>
						</div>
						<div class="acverForm">
							<div class="acverFormBox" style="display: block;">
								<form class="acverFormff" action="" method="post">
									<div class="acverFormdd">
										<label for="">姓名:</label>
										<input type="text" name="" id="" value="" />
									</div>
									<div class="acverFormdd">
										<label for="">护照编号:</label>
										<input type="text" name="" id="" value="" />
									</div>
									<div class="acverFormdd">
										<input type="button" id="button" value="公益护照查询" />
									</div>
								</form>
							</div>
							<div class="acverFormBox" style="display: none;">
								<form class="acverFormff" action="" method="post">
									<div class="acverFormdd">
										<label for="">姓名:</label>
										<input type="text" name="" id="" value="" />
									</div>
									<div class="acverFormdd">
										<label for="">身份证号:</label>
										<input type="text" name="" id="" value="" />
									</div>
									<div class="acverFormdd">
										<input type="button" id="button" value="公益时间查询" />
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--活动展示和活动志愿者-->
		<!--信息公告和志愿排行-->
		<div class='index_news_container'>
			<div class="index_news_wrapper">
				<div class="news_l">
					<!--信息公告和志愿导航-->
					<div class="news_nav clearfix">
						<p class="news_nav1 currentS">
							<a href="JavaScript:;">信息公告</a>
						</p>
						<p class="news_nav1">
							<a href="JavaScript:;">新闻资讯</a>
						</p>
						<p class="news_nav1">
							<a href="JavaScript:;">政策法规</a>
						</p>
						<@jp.taxonomy id="33">
							<span><a href="${taxonomy.url}">更多&gt;&gt;</a></span>
						</@jp.taxonomy>
					</div>
					<!--内容-->
					<!--信息公告-->
					<div class="news_con">
						<ul>
							<@jp.contents module="article" typeSlug="information" count="3">
								<#list contents as content>
									<#if content?is_first>
										<li>
											<div class="newsL_con">
												<div class="tit clearfix">
													<img src="${CTPATH}/images/hot-ico.png" />
													<h1 style="width: 500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: black;">
										<a href="${content.url!}" title="${content.title!}">${content.title!}</a>
									</h1>
												</div>
												<p>${content.summary}</p>
												<span><em>${content.created?string("yyyy-MM-dd HH:mm:ss")}</em></span>
											</div>
										</li>
										<#else>
											<li style="border-top: solid 1px #ffffff;">
												<div class="newsL_con">
													<div class="tit clearfix">
														<img src="${CTPATH}/images/hot-ico.png" />
														<h1 style="width: 500px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: black;">
										<a href="${content.url!}" title="${content.title!}">${content.title!}</a>
									</h1>
													</div>
													<p>${content.summary}</p>
													<span><em>${content.created?string("yyyy-MM-dd HH:mm:ss")}</em></span>
												</div>
											</li>
									</#if>
								</#list>
							</@jp.contents>
						</ul>
					</div>
					<!--新闻咨询-->
					<div class="news_con">
						<div class="news_list">
							<ul>
								<@jp.contents module="article" typeSlug="news" count="10">
									<#list contents as content>
										<li><a href="${content.url!}" title="${content.title!}" style="width: 530px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: black;"> • ${content.title!}</a></li>
									</#list>
								</@jp.contents>
							</ul>
						</div>
					</div>
					<!--政策法规-->
					<div class="news_con">
						<div class="news_list">
							<ul>
								<@jp.contents module="article" typeSlug="policy" count="10">
									<#list contents as content>
										<li><a href="${content.url!}" title="${content.title!}" style="width: 530px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: black;"> • ${content.title!}</a></li>
									</#list>
								</@jp.contents>
							</ul>
						</div>
					</div>
				</div>
				<!--志愿者排行-->
				<div class="news_r">
					<div class="newsr_tit">
						<h2>公益大数据</h2>
						<p>
							<a href="JavaScript:;">更多>></a>
						</p>
					</div>
					<div class="newsr_con clearfix">
						<div class="newsr_conl">
							<div class="newsr_conl_tit">
								<img src="${CTPATH}/images/zuzhi.png" />
								<p>公益基地排行</p>
							</div>
							<ul>
								<li><i>1</i> <em>&nbsp;&nbsp;&nbsp;黄浦区</em> <span>1471978</span></li>
								<li><i>2</i> <em>&nbsp;&nbsp;&nbsp;徐汇区</em> <span>1134259</span></li>
								<li><i>3</i> <em>&nbsp;&nbsp;&nbsp;普陀区</em> <span>847465</span></li>
								<li><i>4</i> <em>&nbsp;&nbsp;&nbsp;长宁区</em> <span>712379</span></li>
								<li><i>5</i> <em>&nbsp;&nbsp;&nbsp;闵行区</em> <span>391594</span></li>
								<li><i>6</i> <em>&nbsp;&nbsp;&nbsp;杨浦区</em> <span>381305</span></li>
								<li><i>7</i> <em>&nbsp;&nbsp;&nbsp;虹口区</em> <span>375064</span></li>
								<li><i>8</i> <em>&nbsp;&nbsp;&nbsp;嘉定区</em> <span>333261</span></li>
								<li><i>9</i> <em>&nbsp;&nbsp;&nbsp;宝山区</em> <span>257935</span></li>
							</ul>
						</div>
						<div class="newsr_conr">
							<div class="newsr_conr_tit">
								<img src="${CTPATH}/images/zuzhi03.png" />
								<p>公益时长排行</p>
							</div>
							<ul>
								<li><i>1</i> <em>&nbsp;&nbsp;&nbsp;黄浦区</em> <span>36860254</span></li>
								<li><i>2</i> <em>&nbsp;&nbsp;&nbsp;徐汇区</em> <span>28083452</span></li>
								<li><i>3</i> <em>&nbsp;&nbsp;&nbsp;普陀区</em> <span>24850991</span></li>
								<li><i>4</i> <em>&nbsp;&nbsp;&nbsp;长宁区</em> <span>13786372</span></li>
								<li><i>5</i> <em>&nbsp;&nbsp;&nbsp;闵行区</em> <span>9646758</span></li>
								<li><i>6</i> <em>&nbsp;&nbsp;&nbsp;杨浦区</em> <span>9189213</span></li>
								<li><i>7</i> <em>&nbsp;&nbsp;&nbsp;虹口区</em> <span>4975741</span></li>
								<li><i>8</i> <em>&nbsp;&nbsp;&nbsp;嘉定区</em> <span>2259646</span></li>
								<li><i>9</i> <em>&nbsp;&nbsp;&nbsp;宝山区</em> <span>2065087</span></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="com_yqlj clearfix">
				<div class="com_yqlj_left">
					<span>友情链接:</span>
				</div>
				<ul class="com_yqlj_right">
					<li><a href="javascript:;">中国共青团网</a></li>
					<li><a href="javascript:;">中国青年志愿者网 </a></li>
					<li><a href="javascript:;">志愿北京天津共青团</a></li>
					<li><a href="javascript:;">河北青年志愿服务网</a></li>
					<li><a href="javascript:;">山西志愿者网</a></li>
					<li><a href="javascript:;">内蒙古志愿者网</a></li>
					<li><a href="javascript:;">辽宁青年志愿服务网</a></li>
					<li><a href="javascript:;">吉林省青年志愿者协会</a></li>
					<li><a href="javascript:;">黑龙江省志愿服务平台</a></li>
					<li><a href="javascript:;">上海青年志愿者智慧公益平台</a></li>
					<li><a href="javascript:;">江苏志愿服务网</a></li>
					<li><a href="javascript:;">浙江志愿者网</a></li>
				</ul>
			</div>
		</div>
	</div>
</@layout>
