<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>${WEB_TITLE!WEB_NAME!} - ${WEB_SUBTITLE!}</title>
		<link rel="stylesheet" type="text/css" href="${CTPATH}/css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="${CTPATH}/css/news_001.css"/>
		<link rel="stylesheet" type="text/css" href="${CTPATH}/css/common.css"/>
		 <script src="${CPATH}/counter?cid=${content.id!}"></script>
	</head>
	<body>
		<!--头部-->
			<!--头部-->
		<div class="container">				
				<div class="h_header" >
					<div class="h_logo">
						<img src="${CTPATH}/images/logo.png" alt="logo" class="logo_img" />
					</div>
					<div class="h_nav">
						<ul>
							<li>
								<a href="${CPATH}">首页</a>
							</li>
							<li>
								<a href="javascript:void(0);">志愿活动</a>
							</li>
							<li>
								<a href="javascript:void(0);">志愿组织</a>
							</li>
							<li>
								<a href="javascript:void(0);">亲子体验</a>
							</li>
							<li>
								<a href="javascript:void(0);">时长公示</a>
							</li>
							<li>
								<a href="javascript:void(0);">帮助中心</a>
							</li>
						</ul>
					</div>
					<div class="h_login_reg">
						<a class="h_login" href="javascript:void(0)">登录</a>
						<a class="h_reg" href="javascript:void(0)">注册</a>
					</div>
				</div>
			</div>
		<!--头部结束-->
		<!--内容-->
		<div class="news_content clearfix">
			
			<div class="news_article clearfix">
				<@jp.contents module="jidi" count="10">
							<#list contents as content>
								<li>
									<div class="adimg">
										<a href="${content.url!}"> <img src="${(content.thumbnail)!}" width="224" height="160" />
										</a>
									</div>
									<h3>
										<a href="${content.url!}">${content.title!}</a>
									</h3>
									<p>地点：${content.metadata('_meta5')}</p>
									<p>申报时间：${content.metadata('_meta6')}</p>
								</li>
							</#list>
				</@jp.contents>
                
            	<!--志愿快讯-->
            	
			</div>
		</div>
		
		<!--底部-->
		
		<!--底部-->
	</body>
</html>
