.index_carousel_wrapper {
	width: 100%;
	height: 350px;
	overflow: hidden;
	position: relative;
}
.index_carousel_wrapper a{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}
.index_carousel_wrapper .carouselpagination_wrapper{
	width: 100%;
	position: absolute;
	bottom: 50px;
}

.index_carousel_wrapper .carouselpagination_wrapper .swiper-pagination{
	width: 100%;
	bottom: 0;
}
.index_mainmenu_container {
	background-color: #fff;
}

.index_mainmenu_wrapper {
	margin: 0 auto;
	width: 1200px;
	height: 350px;
	position: relative;
}

.index_mainmenu_wrapper ul {
	display: inline-block;
	width: 460px;
}

.index_mainmenu_wrapper ul li {
	display: inline-block;
	width: 226px;
	height: 150px;
	text-align: center;
}
.index_mainmenu_wrapper ul li a span{
	display: block;
}
.index_datastatistic_wrapper {
	display: inline-block;
	padding: 15px;
	width: 230px;
	height: 380px;
	background-color: #da4453;
	color: #fff;
	vertical-align: top;
	position: relative;
	top: -30px;
	z-index: 1;
}

.index_datastatistic_wrapper div {
	text-align: center;
	font-family: 'microsoft yahei';
}

.index_datastatistic_wrapper div label {
	display: block;
	margin: 10px 0;
}

.index_datastatistic_wrapper div p {
	height: 40px;
	font-size: 30px;
	background-color: #fff;
	color: #da4453;
}

.index_datastatistic_wrapper a {
	display: inline-block;
	margin: 30px 0;
	padding: 10px 0;
	width: 100%;
	background-color: #ff8814;
	text-align: center;
	color: #fff;
}

.index_newslist_wrapper {
	margin: 0 auto;
	padding: 30px 0;
	width: 1200px;
}

.index_newslist_wrapper .activitylist li {
	display: inline-block;
	margin: 20px 6px 0 6px;
	width: 224px;
	height: 270px;
	background-color: #fff;
}
.index_newslist_wrapper .activitylist li img{
	display: block;
	width: 100%;
}
.index_newslist_wrapper .activitylist .address{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.index_filter_item li {
	display: inline-block;
	margin: 15px;
}

.index_filter_item li:first-child {
	margin: 15px 15px 15px 0;
}

.index_filter_item li a {
	display: inline-block;
	padding: 5px 10px;
	color: #000;
}

.index_filter_item li:hover a, .index_filter_item .active a {
	color: #fff;
	background-color: #da4453;
}

.index_volunteerlist_wrapper {
	margin: 0 auto;
	width: 1200px;
	background-color: #fff;
	box-sizing: border-box;
}

.index_volunteerlist_wrapper .mainlist ul li {
	display: inline-block;
	width: 225px;
	height: 50px;
}

.index_volunteerlist_wrapper .mainlist {
	padding: 20px;
}

.index_news_wrapper {
	display: inline-block;
	margin: 30px 0;
	width: 715px;
	height: 520px;
	background-color: #fff;
}

.index_news_wrapper .list_wrapper li {
	padding: 13px 0;
	border-bottom: 1px solid #eee;
}

.index_news_wrapper .list_wrapper li img {
	display: inline-block;
	width: 170px;
	height: 110px;
	vertical-align: top;
}

.index_news_wrapper .list_wrapper li div {
	display: inline-block;
	margin: 0 10px;
	width: 470px;
	height: 125px;
	vertical-align: top;
}

.index_ranking_wrapper {
	display: inline-block;
	margin: 30px 0 0 15px;
	width: 465px;
	height: 520px;
	vertical-align: top;
	background-color: #fff;
	font-size: 0;
}

.index_ranking_wrapper .list {
	display: inline-block;
	padding: 5% 0 0 5%;
	width: 45%;
	font-size: 15px;
}

.index_ranking_wrapper .list h6 {
	text-align: center;
}

.index_ranking_wrapper .list ul li {
	width: 100%;
	height: 50px;
	line-height: 50px;
	color: #333;
	font-size: 13px;
}

.index_ranking_wrapper .list ul li span {
	display: inline-block;
	width: 5%;
	color: #3eb687;
}

.index_ranking_wrapper .list ul li p {
	display: inline-block;
	width: 50%;
}

.index_ranking_wrapper .list ul li label {
	display: inline-block;
	width: 30%;
	color: #3eb687;
}
