*{
	font-family: 'microsoft yahei';
}
.container {
	width: 100%;
	min-width: 1200px;
	height: 70px;
	background: #0b52a1;
	border-bottom: 3px solid rgba(23, 23, 23, 0.5);
	font-family: 'microsoft yahei';
}
.common_header_container {
	width: 100%;
	min-width: 1200px;
	background: #0b52a1;
}
.common_header_container:after{
	content: '';
	display: block;
	clear: both;
}
.common_header_container .leftside_wrapper{
	float: right;
	margin: 25px 0 0 0;
}
.h_header {
	width: 1200px;
	margin: 0px auto;
}
.h_logo {
	width: 177px;
	height: 70px;
	float: left;
}
.h_logo img {
	margin-top: 15px;
}
.common_nav_wrapper {
	float: left;
	margin-left: 87px;
}
.common_nav_wrapper li {
	float: left;
	padding: 0 10px;
	margin: 0px 5px;
	min-width: 75px;
	height: 100%;
	line-height: 70px;
	text-align: center;
	transition: all 0.3s;
}
.common_nav_wrapper li:hover{
	background: #063161;
	transition: all 0.3s;
}
.common_nav_wrapper li a {
	display: block;
	color: #fff;
}
.h_login_reg {
	float: left;

	margin-right: 22px;
}
.h_login_reg .h_reg {
	color: #fff;
	margin: 0px 5px;
}
.h_login_reg .h_login {
	color: #fff;
}
.h_language {
	width: 48px;
	height: 25px;
	float: left;
}
.h_language p {
	font-size: 16px;
	font-family: "黑体";
	text-align: center;
	line-height: 25px;
}
.h_language .h_china {
	width: 22px;
	height: 25px;
	color: #FFFFFF;
	float: left;
	background: #FFA400;
}
.h_language .h_English a {
	width: 22px;
	height: 25px;
	color: #0268B1;
	float: right;
	background: #000000;
	opacity: 0.4;
	filter: alpha(opacity=40);
}

/*底部*/

.footer {
	width: 100%;
	min-width: 1200px;
	height: 126px;
	background: #0b52a1;
}
.footer_con {
	width: 1200px;
	position: relative;
	margin: 0px auto;
}
.copyright {
	width: 700px;
	margin-left: 260px;
	text-align: center;
	line-height: 126px;
	color: #fff;
	float: left;
}
.enjon_icon {
	width: 240px;
	height: 56px;
	margin-top: 25px;
	float: right;
}
.enjon_icon li {
	float: left;
	margin-left: 15px;
}
.enjon_icon li a {
	display: inline-block;
	width: 55px;
	height: 56px;
	background: url(../images/enjoy_icon.png) no-repeat;
}
.enjon_icon li a.icon_02 {
	background-position: -55px 0px;
}
.enjon_icon li a.icon_03 {
	background-position: -110px 0px;
}

/*二维码*/

.footer_ewm {
	width: 140px;
	position: absolute;
	top: -50px;
}
.footer_ewm .footer_ewm_img01 {
	position: absolute;
	z-index: 1;
}
.footer_ewm .footer_ewm_img02 {
	position: absolute;
	top: -6px;
	left: 6px;
	z-index: 0;
}
.footer_ewm_text {
	position: absolute;
	top: 140px;
	left: 8px;
	font-size: 14px;
	color: #fff;
}

/*友情链接*/

.com_yqlj {
	width: 1200px;
	padding: 80px;
	margin: 0px auto;
	text-align: center;
	font-size: 0;
}
.com_yqlj .com_yqlj_left, .com_yqlj .com_yqlj_right li a {
	font-family: "微软雅黑";
	font-size: 16px;
	color: #636363;
	line-height: 38px;
}
.com_yqlj .com_yqlj_left {
	display: inline-block;
	margin: 0 15px;
	width: 70px;
	font-weight: 700;
}
.com_yqlj .com_yqlj_right {
	display: inline-block;
	width: 1100px;
	text-align: left;
	vertical-align: middle;
}
.com_yqlj .com_yqlj_right li {
	display: inline-block;
	margin: 0px 4px;
}
.com_yqlj .com_yqlj_right li:hover a {
	color: #ff9300;
}

/*clip*/

.clip {
	display: block;
	width: 420px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
